Repository Valerolactone/file_todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8, pylint

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system
  args:
  - --profile=black

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

added docker and docker-compose
  .env.example
  Dockerfile
  app/database.py
  docker-compose.yaml
  entrypoint.sh
  main.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

test github actions try1
  .github/workflows/linters.yaml
  .github/workflows/tests.yaml
  poetry.lock
  pyproject.toml
  tests/test_github_actions.py
Due: black, isort, mypy, flake8, pylint

test github actions try2
  main.py
Due: black, isort, mypy, flake8

fix issue with pylint
  .github/workflows/linters.yaml
Due: none

rename in docker-compose.yaml
  docker-compose.yaml
Due: none

initial commit
  .env.example
  .gitignore
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/bbf0a0070daf_init_migration.py
  app/__init__.py
  app/database.py
  app/models.py
  app/routers.py
  app/schema.py
  app/schemas.py
  app/services.py
  databases/dals.py
  databases/models.py
  databases/postgres_session.py
  databases/redis_client.py
  databases/s3_client.py
  docker-compose.yaml
  entrypoint.sh
  main.py
  poetry.lock
  pyproject.toml
  settings.py
Due: black, isort, mypy, flake8, pylint

updated linters
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

updated cache logic
  alembic/env.py
  alembic/versions/bbf0a0070daf_init_migration.py
  app/services.py
  databases/dals.py
Due: black, isort, mypy, flake8, pylint

updated routers and services
  app/routers.py
  app/schemas.py
  app/services.py
  databases/redis_client.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

added all logic
  .env.example
  .gitignore
  .pre-commit-config.yaml
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/bbf0a0070daf_init_migration.py
  app/__init__.py
  app/database.py
  app/models.py
  app/routers.py
  app/schema.py
  app/schemas.py
  app/services.py
  databases/dals.py
  databases/models.py
  databases/postgres_session.py
  databases/redis_client.py
  databases/s3_client.py
  docker-compose.yaml
  entrypoint.sh
  main.py
  poetry.lock
  pyproject.toml
  settings.py
Due: black, isort, mypy, flake8, pylint

added tests
  .github/workflows/tests.yaml
  app/routers.py
  app/schemas.py
  app/services.py
  poetry.lock
  pyproject.toml
  settings.py
  tests/conftest.py
  tests/test_delete_file.py
  tests/test_get_file_url.py
  tests/test_github_actions.py
  tests/test_update_file.py
  tests/test_upload_file.py
Due: black, isort, mypy, flake8, pylint

check github actions
  .github/workflows/tests.yaml
Due: none

check github actions 2
  .github/workflows/tests.yaml
Due: none

3
  .github/workflows/tests.yaml
Due: none

4
  .github/workflows/tests.yaml
Due: none

5
  .github/workflows/tests.yaml
Due: none

6
  .github/workflows/tests.yaml
Due: none

7
  .github/workflows/tests.yaml
Due: none

added tests (#5)
  .github/workflows/tests.yaml
  app/routers.py
  app/schemas.py
  app/services.py
  poetry.lock
  pyproject.toml
  settings.py
  tests/conftest.py
  tests/test_delete_file.py
  tests/test_get_file_url.py
  tests/test_github_actions.py
  tests/test_update_file.py
  tests/test_upload_file.py
Due: black, isort, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$, but not: main.py
